
$primary:   #60ddc2;
$secondary: #fb5607;
$danger:    #ff006e;
$success :  #8338ec;
$warning :  #ffbe0b;
$info:      #FEF9EF;
$light:     #A8E7E9;
$dark:      #3D087B; 
$white:     #fdffff;





@import '~bootstrap/scss/bootstrap';

.btn{
    border-radius: 1rem;
    color:  #FEF9EF;
    background-color: $primary;
}

.btn-primary{
    color: $white;
}

a.btn-primary:visited{
    color: $white !important;
}

a:hover {
    background-color: #8338ec;
}


